<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="i0WNnUBY25VruxrVQFwybDhLdtktqGX3bDAzUOqU0QU" />

    <%
    var title = page.title;

    if (is_archive()){
        title = 'بایگانی';

        if (is_month()){
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()){
            title += ': ' + page.year;
        }
    } else if (is_category()){
        title = 'دسته: ' + page.category;
    } else if (is_tag()){
        title = 'تگ: ' + page.tag;
    }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>

    <% if (theme.favicon){ %><!--<link rel="icon" href="<%- theme.favicon %>">--><% } %>
    <%- css('css/style.css?v2') %>
    <%- partial('google-analytics') %>
</head>
