<!-- Header -->
<header>
    <nav class="container">
        <ul>
            <li><a href="/">صفحه اول</a></li>
            <li><a href="/about">درباره</a></li>
            <li><a href="/contact">تماس</a></li>
            <li class="logo"><a href="/">- ابوالفضل خسروی -</a></li>
            <li><a href="https://instagram.com/abolfaazl.me">اینستاگرام</a></li>
            <li><a href="https://dribbble.com/abolfaazl" target="_blank">دریبل</a></li>
            <li><a href="https://behance.net/kh26127" target="_blank">بیهنس</a></li>
        </ul>
    </nav>
</header>
<!-- /Header -->