<!-- Intro
<section id="intro">
    <p class="container">
        من <strong>ابوالفضل خسروی </strong> هستم،<br />
        کسی که شاید هم طراح باشه، هم برنامه‌نویس!
    </p>
</section>
<!-- /Intro -->
